.subBtn {
    background-color: white;
    border: 1px solid #57068c;
    color: #57068c;
    padding: 6px 12px;
    max-height: 56px;
    align-self: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.subBtn:hover{
    background-color: #57068c;
    color: white;
}