.inputBlock{
	padding-bottom: 0.5em;
}

.textInput, .passwordInput {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.textInput:focus, .passwordInput:focus {
    background-color: lightblue;
}
.subBtn{
    background-color: #57068c;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.form{
    margin: 10  px 0 20px;
}